# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- List popular languages for Data Science
- Eveluating arithmetic expressions in Python
- Commonly used libraries by Data Scientists

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. TensorFlow

| Data Science Tools |
|--------------------|
| Jupiter Notebooks |
| R Studios |
| Zeppelin Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Yahya Yakubu-Banda